
.fondo-home{
    background: url(../Img/Dummys/fondo-nubes.svg);
    background-size: auto;
    height: 100vh;
    z-index: -1;
}

.bloque-aboutus {
    font-family: 'Oswald', sans-serif;
}
.borde-gris {
    border: #666666 1px solid;
}

.bordes-redondeados {
    border-radius: 3px;
}

.service-box-thumb {
    margin-bottom: 35px;
}

.texto-bloque {
    width: 80%;
    margin: 0 auto;
}

.sin-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tamano-img-bloque {
    width: 100%;
}

.btn-default {
    margin-bottom: 20px;
}

.espaciado-lados {
    width: 99.5%;
    margin-bottom: 60px;
    margin-top: 30px;
}

.bloque-estadisticas {
    height: 300px;
}

.fondo-estadisticas {
    background: url(../Img/Dummys/fondo-arboles.jpg);
}

.btn-nuevo {
    border: 1px solid #19ACCA;
    margin-bottom: 20px;
    color: #19ACCA;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.btn-nuevo:hover {
    background-color: #19ACCA;
    color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.mitadpabajo {
    margin-top: 50vh;
    padding-right: 5%;
}

color-espejo{
    color: #19ACCA;
}

.pocoabajo{
    margin-top:5%;
}

.btn-homemas {
    color: white;
    background-color: #000000;
  
}
.btn-homemas:hover {
    margin-bottom: 20px;
    color: white;
    background-color: #666666;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.fondo-negro {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%; 
    background: black;
}

.margen-menu-sup-inf{
    padding-top: 15px;
    padding-bottom: 15px;
}

.centrar-altura{
    vertical-align: middle;
}
.centrar-menu{
    padding-left: 5%;
    padding-right: 5%;
}

.tamano-celular{
    width: 100%;
}

.btn-menu{
    color: white;
}

.btn-menu:hover {
    color:#19ACCA;
    transition-property: color;
    transition-duration: 0.5s;
}